<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>RDoc</string>
	<key>uuid</key>
	<string>136C2B51-91CA-43C6-97A8-5911987C832A</string>
</dict>
</plist>
